<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.digitaltoyz.justjump" version="1.5.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Just Jump</name>
	<description>Jump! Just jump!</description>
	<author email="ask.digitaltoyz@gmail.com">DigitalToyz</author>

	<icon src="www/icon-256.png" width="256" height="256" density="xxxhdpi" />
	<icon src="www/icon-128.png" width="128" height="128" density="xhdpi" />

	<preference name="android-targetSdkVersion" value="27" />

	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="AllowInlineMediaPlayback" value="true" />

	<preference name="deployment-target" value="9.0" />
	<preference name="android-minSdkVersion" value="27" />
	<access origin="*" />

	<plugin name="cordova-custom-config" />
	<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-statusbar" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-wkwebview-engine" />

	<preference name="phonegap-version" value="cli-8.0.0"/>
	<plugin name="cordova-plugin-admob-free">
		<variable name="ADMOB_APP_ID" value="ca-app-pub-6823378887326581~6517539213" />
	</plugin>
	
	<engine name="android" />
</widget>